{%extends 'base.html' %}
{%load static%}
{% block title %}Product {% endblock %}
{% block content %}
<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{product.image.url}}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">Category 2</span>
              </a>
              <a href="">
                <span class="badge blue mr-1">New</span>
              </a>
              <a href="">
                <span class="badge red mr-1">Bestseller</span>
              </a>
            </div>
            <p class="lead font-weight-bold">{{product.name}}</p>
            <p class="lead">
              <span class="mr-1">
                <del>$1000</del>
              </span>
              <span>{{product.price}}</span>
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{product.description}}</p>

            {%if product.stock <= 0 %}
            <p class="text-justify product_text"><b>Out of Stock</b></p>
            {% else %}
            <a href="{% url 'add_cart' product.id %}">Add to Cart</a>
              {% endif %}
          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
{% endblock %}
